PUBLIC_ORIGIN=http://localhost:3000
FRONTEND_ORIGIN=http://localhost:4200
ADDITIONAL_FRONTEND_ORIGINS=https://macbook-pro.taila2e389.ts.net:8443
API_URL=http://localhost:8080
AI_URL=http://localhost:4111
GOOGLE_CLOUD_PROJECT=fiap-challenge-ford
CLOUD_RUN_AUTH=false
